Skip to content
This repository
Search
Pull requests
Issues
Gist
 @danielmkarlsson
 Unwatch 1
  Star 0
 Fork 0 danielmkarlsson/danielmkarlsson.github.io
 Code  Issues 0  Pull requests 0  Projects 0  Pulse  Graphs  Settings
Branch: master Find file Copy pathdanielmkarlsson.github.io/mediafool-player.css
839ef6c  17 days ago
@danielmkarlsson danielmkarlsson Update mediafool-player.css
1 contributor
RawBlameHistory
90 lines (88 sloc)  1.69 KB
/* mediafool-player.css version 0.2.0 */

body {
    margin: 1px;
    padding: 0px;
}
div {
    margin: 0px;
    padding 0px;
}
.border {
    position: absolute;
    left: 0px;
    top: 10px;
    width: 100%;
    height: 3px;
    border-bottom-width: 1px;
    border-bottom-color: #333333;
    border-bottom-style: solid;
    margin: 0px;
    background-color: transparent;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.fill {
    position: absolute;
    left: 0px;
    top: 10px;
    width: 0%;
    height: 3px;
    border-width: 1px;
    border-color: transparent;
    border-style: solid;
    margin: 0px;
    background-color: #333333;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.transport {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 30px; /* makes transport easier to click */
    border-width: 0px;
    background-color: transparent;
    cursor: pointer;
}
.control {
    background: transparent;
    position: absolute;
    left: 0px;
    top: 20px;
    text-align: left;
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;;
    font-size: 14px;
}
.metadata {
    background: transparent;
    position: absolute;
    left: 0px;
    top: 20px;
    width: 100%;
    text-align: center;
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333333;
}
.time {
    background: transparent;
    position: absolute;
    left: 0px;
    top: 20px;
    width: 100%;
    text-align: right;
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;;
    font-size: 14px;
    color: #333333;
}
a:link, a:visited {
    color: #333333;
    text-decoration: none;
}
a:hover, a:active {
    color: #333333;
    text-decoration: underline;
}
