/* mediafool-player.css version 0.2.0 */

body {
    margin: 1px;
    padding: 0px;
}
div {
    margin: 0px;
    padding 0px;
}
.border {
    position: absolute;
    left: 0px;
    top: 10px;
    width: 100%;
    height: 3px;
    border-bottom-width: 1px;
    border-bottom-color: #333333;
    border-bottom-style: solid;
    margin: 0px;
    background-color: transparent;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.fill {
    position: absolute;
    left: 0px;
    top: 10px;
    width: 0%;
    height: 3px;
    border-width: 1px;
    border-color: transparent;
    border-style: solid;
    margin: 0px;
    background-color: #333333;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.transport {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 30px; /* makes transport easier to click */
    border-width: 0px;
    background-color: transparent;
    cursor: pointer;
}
.control {
    background: transparent;
    position: absolute;
    left: 0px;
    top: 20px;
    text-align: left;
    font-family: helvetica;
    font-size: 12px;
}
.metadata {
    background: transparent;
    position: absolute;
    left: 0px;
    top: 20px;
    width: 100%;
    text-align: center;
    font-family: helvetica;
    font-size: 12px;
    color: #333333;
}
.time {
    background: transparent;
    position: absolute;
    left: 0px;
    top: 20px;
    width: 100%;
    text-align: right;
    font-family: helvetica;
    font-size: 12px;
    color: #333333;
}
a:link, a:visited {
    color: #333333;
    text-decoration: none;
}
a:hover, a:active {
    color: #333333;
    text-decoration: underline;
}
